/* GameBoard Styles */
.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  position: relative;
}

.box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Button styles*/
button {
  position: relative;
  width: 200px;
  margin: 20px auto;
  display: flex;
  font-size: 21px;
  border: 1px solid black;
  padding: 8px;
  justify-content: center;
}
 button:hover {
     border: 2px solid black;
 }

 /* Player element styles */
 h1 {
    text-align: center;
  }
 
 #player {
     visibility: hidden;
 }