/* GameBoard Styles */
.game-board {
  max-width: 970px;
  width: 80%;
  height: 700px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  position: relative;
}

.box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Button styles*/
.bttn-container {
  margin: 0 auto;
  text-align: center;
}

button {
  position: relative;
  width: 200px;
  margin: 20px;
  display: flex;
  font-size: 1rem;
  display: inline-block;
  border: 1px solid black;
  padding: 1rem;
  justify-content: center;
}
button:hover {
  border: 2px solid black;
}

/* Player element styles */
h1 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Source Code Pro", monospace;
  font-size: 4rem;
  margin: 0;
}

#player {
  visibility: hidden;
}
